
.container{
  display: flex;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background: #212427;
  justify-content: center;   
}

.wrapper{
  display: flex;
  width: 40%;
  margin-top: 100px;
}
.products{
  display: flex;
  flex-direction: column;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}




.productDetails{
    
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  font-family: 'Space Grotesk', sans-serif;
  

}

.productItemWrapper{
  background: rgba(61, 59, 61, 0.486);
  box-shadow: 0 4px 8px 0 rgba(221, 212, 212, 0.2);
  transition: 0.3s;
  
}


.productItemWrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(247, 250, 250, 0.2);
}

.productImg{
  width: 100%;
  height: 100%;
}

.productAttr{
  width: 100%;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  
}

.productSpan{
  width: 100%;
  display: flex;
  white-space: nowrap;
  
}

.productButtons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.productBuy{
  border-radius: 5px;
}

.productCart{
  border-radius: 5px;
}